In [24]:
#import library
import pandas as pd
import pickle
import sklearn

In [25]:
# Simpan model rfc ke dalam file model_rfc.pkl
with open('model_rfc.pkl', 'rb') as file1:
    model_rfc = pickle.load(file1)

# Simpan model ada ke dalam file model_rfc.pkl
with open('model_ada.pkl', 'rb') as file2:
    model_ada = pickle.load(file2)

with open('model_full_pipeline.pkl', 'rb') as file3:
   model_full_pipeline = pickle.load(file3)

In [26]:
#Dataframe random
data = {'age' : [85.0,60.0,50.0,61.0,60],
        'time' : [28,115,120,213,96],
        'ejection_fraction' : [45,25,35,38,40],
        'serum_creatinine'	: [3.0,0.9,1.0,1.4,3.70],
        'creatinine_phosphokinase': [23,2261,250,80,582],
        'high_blood_pressure' : [1,1,0,0,0]}

In [27]:
inf = pd.DataFrame(data,columns=data.keys())
inf

,age,time,ejection_fraction,serum_creatinine,creatinine_phosphokinase,high_blood_pressure
0,85.0,28,45,3.0,23,1
1,60.0,115,25,0.9,2261,1
2,50.0,120,35,1.0,250,0
3,61.0,213,38,1.4,80,0
4,60.0,96,40,3.7,582,0

In [28]:
full_pipeline = model_full_pipeline.transform(inf[['age','time','creatinine_phosphokinase','serum_creatinine','ejection_fraction']])
full_pipeline

array([[8.25284248e-01, 7.88530466e-02, 0.00000000e+00, 9.80000000e+01,
        2.70000000e+01],
       [3.66792999e-01, 3.90681004e-01, 1.98000000e+02, 1.20000000e+01,
        9.00000000e+00],
       [1.83396500e-01, 4.08602151e-01, 9.70000000e+01, 1.40000000e+01,
        1.90000000e+01],
       [3.85132649e-01, 7.41935484e-01, 2.20000000e+01, 5.40000000e+01,
        2.20000000e+01],
       [3.66792999e-01, 3.22580645e-01, 1.39000000e+02, 1.02000000e+02,
        2.40000000e+01]])

In [29]:
inf_final = full_pipeline.copy()

In [30]:
inf_pred_model = model_ada.predict(inf_final)

In [31]:
df_pred_model = pd.DataFrame(inf_pred_model, columns=['Pred_Death_Event']) 
df_pred_model

   Pred_Death_Event
0                 1
1                 1
2                 0
3                 0
4                 0

In [32]:
df_combined = pd.concat([inf, df_pred_model], axis=1)
df_combined

,age,time,ejection_fraction,serum_creatinine,creatinine_phosphokinase,high_blood_pressure,Pred_Death_Event
0,85.0,28,45,3.0,23,1,1
1,60.0,115,25,0.9,2261,1,1
2,50.0,120,35,1.0,250,0,0
3,61.0,213,38,1.4,80,0,0
4,60.0,96,40,3.7,582,0,0